@import url(./styles/cabecalho.css);
:root{
    --cor-de-texto:#ffffff;
}
 body{
    background: url(.//Img/Rectangle\ 4.png)no-repeat 30%;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
 }