.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 4rem 1rem;
    column-gap: 7rem;
    

}
.cabecalho-lista{
    display: flex;
    justify-content: center;
    column-gap: 3rem;
}
.cabecalho-links{
    text-decoration: none;
    color: var(--cor-de-texto);
    font-weight: 800;
}
.icons-cabecalho{
    display: flex;
    justify-content:start ;
    align-items: center;
    color: var(--cor-de-texto);
    column-gap: 15px;
    font-weight: 800;
    font-size: 34px;

}
.cabecalho-botao{
    display: flex;
    justify-content: end;
    align-items: center;
}
.botao{
    width: 208px;
    height: 56px;
    box-sizing: border-box;
    color:var(--cor-de-texto);
    background: transparent;
    border: 3px solid var(--cor-de-texto);
    border-radius: 84px;
    font-weight: 800;
    
}
