.topicos{
    width: 100%;
}
.container-titulos{
    text-align: center;
    padding: 2rem;
}
.container-lista{
    padding: 3rem 2rem;
}
.topicos-lista{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2rem;
}
/*titulo*/
.topicos-titulo{
    color:var(--topico-texto);
    font-size: 34px;
    font-weight: 800;
    margin-bottom: 1rem;
}
/*o paragrafo*/
.topicos-texto{
    color: var(--borda);
    font-size: 64px;
    font-weight: 800;
}
/* botoes de pais*/
.topicos-link button{
    width: 250px;
    height: 75px;
    border-radius: 10px;
    background: var(--cor-do-botao);
    color: var(--borda);
    font-size: 25px;
    font-weight: 800;
    border: none;
    margin-bottom: 3rem;
    cursor: pointer;
}
.topicos-link button:hover{
    color: var(--cor-do-botao);
    background: var(--borda);
    border: 3px solid var(--cor-do-botao);
    transition: 250ms;
}
@media(width:360px){
    .topicos-titulo{
        font-size: 15px;
    }
    .topicos-texto{
        font-size: 30px;
    }
}